* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    padding: 1%;
    background-color: #4d4438;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}

header>a {
    text-decoration: none;
    cursor: pointer;
}

#menu li {
    list-style-type: none;
    padding-right: 3%;
}

#menu li a {
    text-decoration: none;
    background-color: inherit;
    color: #ffffff;
}

nav {
    display: block;
    position: absolute;
    background-color: inherit;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #252528;
    display: none;
    top: 100%;
}

nav,
#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle label {
    font-size: 2.4rem;
}

.active {
    border-bottom: 1px solid white;
}

.images-first>img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.images-first span {
    display: block;
    padding: 5%;
    border: 1px dashed #4d4438;
    border-radius: 16px;
    display: flex;
    /* Align items horizontally */
    align-items: center;
    /* Center items vertically */
    gap: 10px;
    /* Add horizontal space between the icon and text */
}

.fa-earth-asia {
    margin: 2px;
    display: inline-block;
    width: 24px;
    /* Set the size of the icon */
    height: 24px;
}

footer{
    background-color: #ad9d95;  /* Background color */
    color: white;                /* Text color */
    text-align: center;          /* Center the text */
    padding: 10px 0;             /* Some padding */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;            /* Push footer to bottom */
}

/*Media Queries*/

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #header_logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    .images-first>img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

}